.popup__container {
    position: relative;
    width: 430px;
    height: 330px;
    background: #FFF;
    -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

/* @media screen and (max-width: 879px) {
    .popup__container {
        width: 90%;
    }
} */

@media screen and (max-width: 320px) {
    .popup__container {
        width: 282px;
        height: 322px;
        -ms-flex-pack: distribute;
            justify-content: space-around;
 
    }
}