.element__like-button {
    background-image: url(../../../images/like.svg);
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    height: 22px;
    width: 22px;
    background-color: transparent;
    align-self: center;
    margin-left: 30px;
}