.profile-info {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-areas:
        "name edit-button"
        "text text";
    column-gap: 25px;
    row-gap: 13px;
    justify-self: start;
}


@media screen and (max-width: 320px) {
    .profile-info {
display: flex;
flex-wrap: wrap;
/* margin-left: auto;
margin-right: auto; */
justify-content: center;
column-gap: 10px;
row-gap: 9px;
margin-top: 26px;
    }
}