.popup__field-info {
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    font-style: normal;
    color: #000;
    padding-bottom: 8px;
    /* width: 80%; */
}

@media screen and (max-width: 879px) {
    .popup__field-info {
        margin-bottom: 8px; 
    }
}