.popup__field-info {
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    font-style: normal;
    color: #000000;
    padding-bottom: 13px;
    width: 80%;
}

@media screen and (max-width: 320px) {
    .popup__field-info {
margin-bottom: 11px;
width: 85%;
    }
}